#like-button {
	background-color: #1985a1;
	color: white;
	border: none;
	border-radius: 9999px;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

#like-button:hover {
	background-color: #146b82;
}
