.currency-toggle {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    width: fit-content;
    background-color: #647E37; 
  }
  
  .currency-toggle button {
    background-color: transparent;
    border: none;
    padding: 0.4rem 1.2rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1rem;
    color: #FFF7E8;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .currency-toggle button.active {
    background-color: #414721; 
    color: #FFF7E8;
  }
  