.matchmaker-room-container {
  margin-top:100px;
	background-color: #fdf7ed; /* color de fondo */
	min-height: 100vh; /* ocupa toda la altura */
	width: 100vw; /* ocupa toda la anchura */
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 2rem;
	box-sizing: border-box;
	overflow-x: hidden; /* evita scroll horizontal si algo se desborda */
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.main-content {
	flex: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10rem;
	align-items: flex-start;
}
