.matchmaker-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	padding: 0 2rem;
	text-align: center;
}

.winner-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
	color: #1e1e1e;
}

body {
	background-color: #fdf7ed;
	margin: 0;
	padding: 0;
}

.create-trip-btn {
	color: white;
	background-color: #41542f;
	margin-top: -20px;
}
