.custom-card {
	width: 244px;
	border-radius: 0px 32px 0px 0px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.2s;
}

.custom-card:hover {
	transform: scale(1.03);
}

.card-img {
	width: 100%;
	height: 198px;
	object-fit: cover;
}

p {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 20px;
}

.card-label {
	background-color: var(--card-color);
	color: white;
	text-align: center;
	padding: 0.6rem;
	/* font-weight: 600; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: -4px;
}
.trip-info {
	background-color: var(--card-color);
	color: #000000;
	/* text-align: center; */
	padding: 0.6rem;
	/* font-weight: 600; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: -4px;
	display: flex;
	flex-direction: row;
}

.info-label {
	background-color: var(--card-color);
	color: #000000;
	/* text-align: center; */
	padding: 0.6rem;
	/* font-weight: 600; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: -4px;
	display: flex;
	flex-direction: column;
}
.text-info {
	text-align: left;
	align-items: start;
}
.members {
	text-align: right;
	align-items: end;
}

.trip-icon {
	width: 30px;
}

.trip-label {
	font-weight: 600;
}
.arrow-icon {
	fill: var(--main-color);
}

.custom-card.saved {
	--card-color: #127eb0;
	--color: #ffffff;
}

.custom-card.trips {
	--card-color: #ecbe15;
}

.custom-card.green {
	--card-color: #f4e4c5;
}

.custom-card.matches {
	--card-color: #a44819;
	--color: #ffffff;
}

@media screen and (max-width: 768px) {
	.custom-card {
		width: 100%;
		border-radius: 0 16px 16px 16px;
		margin-bottom: 1rem;
	}

	.card-img {
		height: 160px;

		border-top-right-radius: 16px;
	}

	.card-label,
	.trip-info,
	.info-label {
		padding: 0.8rem;
		/* font-size: 0.9rem; */
		border-radius: 0 0 16px 16px;
	}
	.info-label {
		width: 500px !important;
	}

	.trip-info {
		flex-direction: column;
		gap: 0.4rem;
		text-align: left;
	}

	.text-info,
	.members {
		align-items: flex-start;
		text-align: left;
	}

	.members {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.trip-icon {
		width: 24px;
	}

	.trip-label,
	.info-date {
		width: 100px;
	}
}
