.custom-card {
	width: 244px;
	border-radius: 0px 32px 0px 0px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.2s;
}

.custom-card:hover {
	transform: scale(1.03);
}

.card-img {
	width: 100%;
	height: 198px;
	object-fit: cover;
}

.card-label {
	background-color: var(--card-color);
	color: white;
	text-align: center;
	padding: 0.6rem;
	font-weight: 600;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: -4px;
}
.trip-info, .info-label {
	background-color: var(--card-color);
	color: #000000;
	/* text-align: center; */
	padding: 0.6rem;
	/* font-weight: 600; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: -4px;
	display: flex;
	flex-direction: row;
}
.text-info {
	text-align: left;
	align-items: start;
}
.members {
	text-align: right;
	align-items: end;
}

.trip-icon {
  width: 30px;
}

.text-label {
	font-weight: 600;
}
.arrow-icon {
	fill: var(--main-color);
}

.custom-card.saved {
	--card-color: #0077b6;
	--color: #ffffff;
}

.custom-card.trips {
	--card-color: #f4c300;
}

.custom-card.green {
	--card-color: #F4E4C5;
}

.custom-card.matches {
	--card-color: #8d4f3f;
	--color: #ffffff;
}

/* .custom-card {
	width: 160px;
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s ease;
}

.custom-card:hover {
	transform: scale(1.03);
}

.card-img {
	width: 100%;
	height: 120px;
	object-fit: cover;
}

.card-label {
	background-color: #1b83b8;
	padding: 10px 0;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.card-list-container.saved {
	--main-color: #0077b6;
	--main-color-hover: #005f91;
}

.card-list-container.trips {
	--main-color: #f4c300;
	--main-color-hover: #e5b400;
}

.card-list-container.matches {
	--main-color: #8d4f3f;
	--main-color-hover: #763f33;
} */
