.simple-card {
	width: 180px;
	overflow: hidden;
	border-radius: 0 20px 20px 20px;
	cursor: pointer;
	transition: transform 0.2s ease;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.simple-card:hover {
	transform: translateY(-4px);
}

.card-img {
	width: 100%;
	height: 120px;
	object-fit: cover;

	border-top-right-radius: 20px;
}

.card-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-title {
	background: none;
}
/* === TRIPS VARIANT === */
.simple-card.trips {
	background-color: #f9c31f;
	color: black;
	align-items: flex-start;
	text-align: left;
}

.trips .card-title {
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 4px;
	color: black;
}

.trips .card-dates {
	font-size: 12px;
	color: #555;
	margin-bottom: 6px;
}

.trips .card-description {
	font-size: 13px;
	margin-bottom: 6px;
}

.trips .card-participants {
	font-size: 12px;
	display: flex;
	align-items: center;
	gap: 4px;
}

/* === SAVED VARIANT === */
.simple-card.saved {
	background-color: #0077b6;
	text-align: center;
	color: white;
}

.saved .card-title {
	font-weight: 600;
	font-size: 15px;
}

/* === MATCHES VARIANT === */
.simple-card.matches {
	background-color: #913c20;
	text-align: center;
	color: white;
}

.matches .card-title {
	font-weight: 600;
	font-size: 15px;
}
