.card-list-container {
	margin-top: 2rem;
	background-color: #fff4e6; /* fondo crema */
	padding: 1rem 1.2rem;
	border-radius: 1rem;
	font-family: 'Bricolage Grotesque', sans-serif;
}

/* header */
.header-buttons {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	margin-bottom: 1rem;
}

.title {
	font-size: 32px;
	font-weight: 700;
	color: var(--main-color);
	background-color: var(--main-color);
	color: white;
	padding: 18px;
	border-radius: 0px 32px 0px 0px;
}

/* Botón + */
.circle-btn {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--main-color);
	color: #fff;
	border: none;
	font-size: 32px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s;
	margin-left: 20px;
}

.circle-btn:hover {
	background-color: var(--main-color-hover);
}

/* Sección de cards */
.cards-section {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	align-items: center;
}

/* Botón de Watch more */
.watch-more {
	display: flex;

	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	min-width: 100px;
	min-height: 120px;
	cursor: pointer;
	margin-left: 18px;
}

.arrow-btn {
	background: none;
	border: none;
	cursor: pointer;
}

/* .arrow-image {
	width: 48px;
	height: 48px;
} */

.watch-more p {
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--main-color);
}

/* Temas */
.card-list-container.saved {
	--main-color: #127eb0;
	--main-color-hover: #005f91;
	--color: #ffffff;
}

.card-list-container.trips {
	--main-color: #ecbe15;
	--main-color-hover: #e5b400;
	--color: #000000;
}

.card-list-container.matches {
	--main-color: #a44819;
	--main-color-hover: #763f33;
	--color: #ffffff;
}

.card-list-container.green {
	--main-color: #647e37;
	--main-color-hover: #495d27;
	--color: #ffffff;
}
.arrow-icon {
	width: 40px;
	height: 40px;
	color: var(--primary-color); /* Puedes usar esta variable para cambiar color */
}

@media screen and (max-width: 768px) {
	.cards-section {
		display: flex;
		overflow-x: auto;
		flex-wrap: nowrap;
		gap: 1rem;
		padding-bottom: 1rem;
		scroll-snap-type: x mandatory;
		scroll-padding: 1rem;
		-webkit-overflow-scrolling: touch;
	}

	.cards-section > * {
		flex: 0 0 calc(50% - 1rem); /* 2 tarjetas visibles */
		scroll-snap-align: start;
	}

	/* .watch-more {
		min-width: 50%;
		min-height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 0;
	} */

	/* .arrow-btn .arrow-image {
		width: 40px;
		height: 40px;
	} */
}
