.card-list-container {
	margin-top: 2rem;
	background-color: #fff4e6; /* fondo crema */
	padding: 1rem 1.2rem;
	border-radius: 1rem;
}

/* header */
.header-buttons {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	margin-bottom: 1rem;
}

.title {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--main-color);
	background-color: var(--main-color);
	color: white;
	padding: 0.4rem 1rem;
	border-radius: 999px 0px 0px 999px;
}

/* Botón + */
.circle-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--main-color);
	color: #fff;
	border: none;
	font-size: 1.4rem;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s;
  margin-left: 20px;
}

.circle-btn:hover {
	background-color: var(--main-color-hover);
}

/* Sección de cards */
.cards-section {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

/* Botón de Watch more */
.watch-more {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	min-width: 100px;
	min-height: 120px;
	cursor: pointer;
}

.arrow-btn {
	background: none;
	border: none;
	cursor: pointer;
}

/* .arrow-image {
	width: 48px;
	height: 48px;
} */

.watch-more p {
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--main-color);
}

/* Temas */
.card-list-container.saved {
	--main-color: #0077b6;
	--main-color-hover: #005f91;
}

.card-list-container.trips {
	--main-color: #f4c300;
	--main-color-hover: #e5b400;
}

.card-list-container.matches {
	--main-color: #8d4f3f;
	--main-color-hover: #763f33;
}





/* .card-list-container {
	margin-top: 2rem;
}

.header-buttons {
	display: flex;
	align-items: center;

	margin-bottom: 1rem;
}

.title {
	font-size: 1.4rem;
	font-weight: 600;
	color: #001f54;
}

.circle-btn {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #0047ab;
	color: #fff;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.2s;
	margin-left: 20px;
}

.circle-btn:hover {
	background-color: #001f54;
}

.cards-section {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.watch-more {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
	cursor: pointer;
}

.arrow-btn {
	background: none;
	border: none;
	padding: 0;
}

.arrow-icon {
	width: 20px;
	height: 20px;
}

.watch-more p {
	font-size: 0.95rem;
	font-weight: 500;
	color: #0047ab;
} */
